# Add new column

In [1]:
import pandas as pd
nba=pd.read_csv("nba.csv")

We know that when we access a column which is not available in dataframe, we will get a error

In [3]:
#For example
nba["sport"]

KeyError: 'sport'

In [5]:
#nba["Sport"]="Basket ball " willc create a new column and gives the value for all the rows
#Remember it permanently modifies the dataframe
#On the right side you can assign a pandas series as well
nba["Sport"]="Basket ball"
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basket ball
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basket ball
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basket ball
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Basket ball
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Basket ball

In [14]:
#Method 2 using insert method
nba.insert(2,"League","National Basketball Assocition")

ValueError: cannot insert League, already exists

In [15]:
nba.head(5)

,Name,Team,Leaguee,League,Number,Position,Age,Height,Weight,College,Salary,Sport
0,Avery Bradley,Boston Celtics,National Basketball Assocition,National Basketball Assocition,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basket ball
1,Jae Crowder,Boston Celtics,National Basketball Assocition,National Basketball Assocition,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basket ball
2,John Holland,Boston Celtics,National Basketball Assocition,National Basketball Assocition,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basket ball
3,R.J. Hunter,Boston Celtics,National Basketball Assocition,National Basketball Assocition,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Basket ball
4,Jonas Jerebko,Boston Celtics,National Basketball Assocition,National Basketball Assocition,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Basket ball