# Retrieving rows by index position using loc

In [4]:
import pandas as pd
bond=pd.read_csv("jamesbond.csv")
#Make Film as index column
bond.set_index("Film",inplace=True)
bond.sort_index(inplace=True)
bond.head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
A View to a Kill      1985     Roger Moore  ...   54.5                9.1
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [5]:
#Retreiving by index lable
bond.loc["Casino Royale"]

               Year         Actor  ... Budget  Bond Actor Salary
Film                               ...
Casino Royale  2006  Daniel Craig  ...  145.3                3.3
Casino Royale  1967   David Niven  ...   85.0                NaN

[2 rows x 6 columns]

If there are multiple rows, Pandas is smart enough to return both of them

In [8]:
#Retrieving range of values
bond.loc["Die Another Day":"Thunderball"]
#Please note that thundrbell also inclusive in this operation whereas in most of the python list operation it is exclusive

                                 Year  ... Bond Actor Salary
Film                                   ...
Die Another Day                  2002  ...              17.9
Dr. No                           1962  ...               0.6
For Your Eyes Only               1981  ...               NaN
From Russia with Love            1963  ...               1.6
GoldenEye                        1995  ...               5.1
Goldfinger                       1964  ...               3.2
Licence to Kill                  1989  ...               7.9
Live and Let Die                 1973  ...               NaN
Moonraker                        1979  ...               NaN
Never Say Never Again            1983  ...               NaN
Octopussy                        1983  ...               7.8
On Her Majesty's Secret Service  1969  ...               0.6
Quantum of Solace                2008  ...               8.1
Skyfall                          2012  ...              14.5
Spectre                          2015  ...               NaN
The Living Daylights             1987  ...               5.2
The Man with the Golden Gun      1974  ...               NaN
The Spy Who Loved Me             1977  ...               NaN
The World Is Not Enough          1999  ...              13.5
Thunderball                      1965  ...               4.7

[20 rows x 6 columns]

In [9]:
#Trying to retreive a index label which is not present
bond.loc["Gold Bond"]
#We will get error if we try to retreive a row which is not present

KeyError: 'Gold Bond'

In [11]:
#Trying to fetch multiple index labels
bond.loc[["Spectre","Skyfall","Gold Bond"]]

C:\Users\Gowtham\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

             Year         Actor  ... Budget  Bond Actor Salary
Film                             ...
Spectre    2015.0  Daniel Craig  ...  206.3                NaN
Skyfall    2012.0  Daniel Craig  ...  170.2               14.5
Gold Bond     NaN           NaN  ...    NaN                NaN

[3 rows x 6 columns]

In [ ]:
#You can see how the missing value Gold Bond is depicted here